<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="INFO"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
